{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-4">
        <h3 class="text-center mb-4">Login</h3>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        <div class="card shadow">
            <div class="card-body">
                <form method="POST" action="/login">
                    <div class="mb-3">
                        <label>Employee Code</label>
                        <input type="text" name="emp_code" class="form-control" required>
                    </div>
                    <div class="mb-3">
                        <label>Password</label>
                        <input type="password" name="password" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}